h1 {
  margin-bottom: 30px;
}

label {
  font-size: 1.2em;
}

.time {
  font-size: 1.5em;
}

.first {
  display: none;
}

.next {
  font-size: 1.7em;
  margin-bottom: -25px;
}

.timer {
  font-size: 1.7em;
}

button {
  margin-top: 3px;
}
